@import url(index.css);

/*Image*/
.div1 {
    margin-bottom: 110px;
}

.div1 img {
    width: 30%;
    height: auto;

    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro1 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 40px;
}

.div2 {
    margin-left: 70px;
    margin-right: 40px;
    margin-bottom: 280px;
}

.div2 img {
    width: 300px;
    height: auto;

    margin-top: 20px;
    float: left;
}

.intro2 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 140px;
}